@page "/"
@using WKW_ErhebunsApp.GUI.Data

<div class="d-grid gap-5">
    <div class="container text-center m-auto">
        <div class="row mt-5">
            <p class="col h1">Hallo!</p>

            <p class="row w-100"></p>

            <p class="col mt-5">Willkommen in der Erhebungsapp!</p>

            <p class="row w-100"></p>

            <p class="col">Drücken Sie den Button um fortzufahren.</p>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <a href="/projects" class="btn btn-primary w-50 mx-auto mb-5 mt-auto">Link</a>
            <a href="/settings" class="btn">Einstellungen</a>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        GlobalVars.Initialize();

        await base.OnInitializedAsync();
    }
}
