@page "/"

<div class="d-grid gap-5">
    <div class="container text-center m-auto">
        <div class="row mt-5">
            <p class="col h1">Hallo!</p>

            <p class="row w-100"></p>

            <p class="col mt-5">Willkommen in der Erhebungsapp!</p>

            <p class="row w-100"></p>

            <p class="col">Drücken Sie den Button um fortzufahren.</p>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <button type="submit" class="btn btn-primary w-50 mx-auto mb-5 mt-auto" >Hier clicken!</button>
            <a href="/project/test" class="btn">Link</a>
        </div>
    </div>
</div>

@code {
    /*
    string name;

    async void temp()
    {
        name = await Application.Current.MainPage.DisplayPromptAsync("Name", "Geben Sie Ihren Namen ein.");
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        temp();
    }
    */
}
