@page "/projects/create"
@using WKW_ErhebunsApp.GUI.Data
@inject NavigationManager NavManager

<div class="container w-100">
	<div class="container d-inline-block mx-auto mt-3">
		<label for="name" class="fw-bold d-block text-center">Projektname</label>
		<InputText id="name" class="d-block mx-auto w-75 mt-1" @bind-Value="NameValue" required></InputText>
	</div>

	
	<div class="container">
		<button type="submit" class="btn btn-primary w-50 mx-auto mb-2 fixed-bottom d-block" @onclick=AddProject>Projekt anlegen</button>
	</div>
</div>

@code {
	string NameValue { get; set; }

	void AddProject()
	{
		GlobalVars.AddProject(NameValue);
		NameValue = "";
		StateHasChanged();

		NavManager.NavigateTo("/projects");
	}
}
